@import "tailwindcss";

@theme {
  --color-sap-blue: #0070f2;
  --color-sap-dark-blue: #0854a0;
  --color-sap-header: #001832;
  --color-sap-green: #107e3e;
  --color-sap-bg: #f3f4f5;
  --color-sap-text: #32363a;
}

:root {
  font-family: "72", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-sap-bg text-sap-text;
}
